body {
  background-color: rgb(33, 37, 41);
}

hr {
  color: white;
}

.hr {
  margin-bottom: 88px;
}

@keyframes colorChange {
  0% {
    background-color: #7d3cb5;
  }
  33% {
    background-color: #0000ff;
  }
  66% {
    background-color: #7d3cb5;
  }
  100% {
    background-color: red;
  }
}

.animate-button {
  animation: colorChange 5s infinite;
  transition: color 0.7s ease;
}

